body{
	background-color: #AD7727D;
}

h1 {
	font-family: Script;
}

h2 {
	font-family: 'Dancing Srcipt', cursive;
}

p {
  font-family: 'Playfair Display';
  color: black;	
  text-align: center;
}

answer {
	float: left;
}

<!--to do--!>>
<!--1. Change all authors to header 3...2. add borders...3. padding on books...4. overflow, scroll--!>
<!--color palet is  #AD7727D, #EDDBC7, #F8EAD8, and #F9F5E7 --!>
		
