* {
  box-sizing: border-box;
}

body {
  background-color:#F5EBEB;
  opacity: 1;
  margin-top: 40px;
}

h1 {
  font-family: 'Script';
  text-align: center;
  color: black;
}

h2 {
  font-family: 'Lily Script One';
  color: black;
  margin-right: 40px;
}

h3 {
  font-family: 'Dancing Script';
  color: black;
  justify-content: center;
}

h4 {
  font-family: 'Dancing Srcipt';
  color: black;
  word-wrap: normal;
  margin-right: 20px;
  margin-left: 20px;
}

h5 {
  font-family: 'Dancing Script';
  color: black;
  word-wrap: normal;
  margin-right: 20px;
  margin-left: 20px;
}

img {
  border-radius: 8px;
  margin-right: 20px;
  margin-left: 20px;
}

p {
  font-family: 'Playfair Display';
  color: black;
  text-align: left;
  margin-right: 50px;  
  margin-left: 40px;
}

button {
  background-color: #e7e7e7; 
  border: none;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  font-size: 14px;
}

#borderimg {
  border: 10px solid transparent;
  padding: 15px;
  border-image: (Library.png) 30 stretch;
}

.flex-container {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
}

img:Books and Worlds.png {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 8px;
}


