h1 {
	font-family: Script;
	font-size: 18px;
}

h2 {
	font-family: Homemade Apple;
	font-size: 14px;
}

p {
  font-family: Lucida Bright;
  color: black;	
  background-color: #EDDBC7;
}


<!--color palet is  #AD7727D, #EDDBC7, #F8EAD8, and #F9F5E7 --!>
		
